*.o
*.obj
*.a
*.vcxproj.user
*.pdb
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
*.ipch
*.depend
*.layout
*.bak
*.backup
*.cbTemp
*.log
*.bmarks
*_build_log.html
*.exe
*.dll
bin/
work/
x64-Release
Win32-Release
x64-Debug
Win32-Debug
